* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seccionPrincipal {
    height: 90vh;
    background-image: url("../img/one-piece-artwork-4011.webp");
    background-size: cover;
}

.seccionPrincipal h1 {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.paginasPiratas {
    padding: 40px;
}

.paginasPiratas h2 {
    margin-bottom: 40px;
    text-align: center;
}

.targetas {
    display: flex;
    gap: 40px;
}

.targeta {
    background-color: rgba(17, 41, 197, 0.573);
    width: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.targetas a {
    text-decoration: none;
    color: black;
    padding: 10px;
}


.img {
    width: 100%;
    border-radius: 10px;
}

.pie_pagina {
    background-image: url("../img/wallpaperbetter.jpg");
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "texto .";
}

.formulario {
    grid-area: texto;
    color: white;
    background-color: rgba(0, 0, 255, 0.278);
    padding: 60px;
}

.unete {
    background-image: linear-gradient(to right, rgb(93, 93, 239), transparent);
}

.texto_1 {
    border-bottom: 3px solid white;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/*mugiwaras*/

.tituloContenedor {
    padding: 20px;
}


.tituloContenedor h1 {
    background-image: linear-gradient(to right, rgb(93, 93, 239), transparent);
    color: white;

    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.card-4:hover {
    transform: translate(0, -20px);
}


/*frutas del diablo*/

.tituloContenedor2 {
    padding: 20px;
}


.tituloContenedor2 h1 {
    background-image: linear-gradient(to right, rgb(93, 93, 239), transparent);
    color: white;

    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/*haki*/

.tituloContenedor3 {
    padding: 20px;
}


.tituloContenedor3 h1 {
    background-image: linear-gradient(to right, rgb(93, 93, 239), transparent);
    color: white;
    font-weight: bold;
    padding: 5px;

    font-size: 2rem;
    margin-bottom: 20px;
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


.targetas2 {
    margin: 90px;
    text-align: center;
}

.targetas2 h2 {
    margin: 80px;
}

.targetas3 {
    display: flex;
    gap: 40px;
}

.targeta4 {
    border: 2px solid rgba(92, 56, 56, 0.447);
    width: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.targeta_shank:hover {
    transform: translate(0, -20px);
    box-shadow: 3px 3px 60px red;

}

.targeta_bigmom:hover {
    transform: translate(0, -20px);
    box-shadow: 3px 3px 60px pink;
}

.targeta_kaido:hover {
    transform: translate(0, -20px);
    box-shadow: 3px 3px 60px black;
}

.img2 {
    padding: 5px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.targetas3 a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
}



/*yonkou*/

.tituloContenedor4 {
    padding: 20px;
}


.tituloContenedor4 h1 {
    background-image: linear-gradient(to right, rgb(93, 93, 239), transparent);
    color: white;

    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.yonkou {
    display: flex;
    gap: 90px;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.img3 {
    border-radius: 5px;
}

.yonkou1 {
    -webkit-animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

.yonkou2 {
    -webkit-animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

.yonkou3 {
    -webkit-animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}


/*media*/

@media screen and (max-width: 1210px) {

   

}

@media screen and (max-width: 1024px) {

    .pie_pagina {
        grid-template-columns: 2fr 1fr;
    }

    .targetas3 {
        flex-direction: column;
    }

  
}

@media screen and (max-width: 767px) {

    .targetas {
        flex-direction: column;
    }

    .pie_pagina {
        grid-template-columns: 2fr;
    }

    .yonkou {
        flex-direction: column;
        align-items: center;
    }

}