.tituloContenedor4 {
    padding: 20px;

    & h1 {
        background-image: linear-gradient(to right, rgb(93, 93, 239), transparent);
        color: white;

        font-size: 2rem;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 20px;
        -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes focus-in-contract {
        0% {
            letter-spacing: 1em;
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
        }

        100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }

    @keyframes focus-in-contract {
        0% {
            letter-spacing: 1em;
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
        }

        100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }
}

.yonkou {
    display: flex;
    gap: 90px;
    justify-content: space-evenly;
    margin-bottom: 40px;

    .yonkou1 {
        -webkit-animation: slide-in-elliptic-left-fwd 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-left-fwd 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @-webkit-keyframes slide-in-elliptic-left-fwd {
            0% {
                -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
                transform: translateX(-800px) rotateY(30deg) scale(0);
                -webkit-transform-origin: -100% 50%;
                transform-origin: -100% 50%;
                opacity: 0;
            }

            100% {
                -webkit-transform: translateX(0) rotateY(0) scale(1);
                transform: translateX(0) rotateY(0) scale(1);
                -webkit-transform-origin: 1800px 50%;
                transform-origin: 1800px 50%;
                opacity: 1;
            }
        }

        @keyframes slide-in-elliptic-left-fwd {
            0% {
                -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
                transform: translateX(-800px) rotateY(30deg) scale(0);
                -webkit-transform-origin: -100% 50%;
                transform-origin: -100% 50%;
                opacity: 0;
            }

            100% {
                -webkit-transform: translateX(0) rotateY(0) scale(1);
                transform: translateX(0) rotateY(0) scale(1);
                -webkit-transform-origin: 1800px 50%;
                transform-origin: 1800px 50%;
                opacity: 1;
            }
        }

        .img3 {
            border-radius: 5px;
        }
    }

    .yonkou1:nth-child(1) {
        animation-delay: 0.2s;
    }

    .yonkou1:nth-child(2) {
        animation-delay: 0.5s;
    }

    .yonkou1:nth-child(3) {
        animation-delay: 1s;
    }

}